
Library/

Logs/

Temp/

Assembly-CSharp.csproj

Solo assignment 2.0.sln

obj/

*.keystore

Assembly-CSharp-Editor-firstpass.csproj

Assembly-CSharp-Editor.csproj

Assembly-CSharp-firstpass.csproj

.idea/